# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist

# next.js / static export
.next
packages/nextjs/.next
packages/nextjs/out
packages/nextjs/tsconfig.tsbuildinfo

# env
.env
.env.local
.env.*.local

# bgipfs
ipfs-upload.config.json
